<div id="footer">
  <div class="row">
    <div class="col-xs-4">
      <% link_to "#" do %>
        <i class="fa fa-youtube"></i>
      <% end %>
      <% link_to "#" do %>
        <i class="fa fa-instagram"></i>
      <% end %>
      <% link_to "#" do %>
        <i class="fa fa-facebook"></i>
      <% end %>
      <% link_to "#" do %>
       <i class="fa fa-twitter"></i>
      <% end %>
    </div>
    <div class="col-xs-8">
      <p>This is a Airbnb Home challenge @LeWagon</p>
    </div>
  </div>
</div>
