<ul class="list-inline text-center">

  <% ["maxime","sarah"].each do |member| %>
    <li>
      <%= image_tag "#{member}.png", class: "img-circle img-smaller" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
